{% extends 'base.html' %}

{% block title %}Questions{% endblock %}

{% block content %}
    <h1>Questions for {{ course.name }}</h1>
    {% for question in course.questions.all %}
    <p>
        <a href="{% url 'question' question.id %}">{{ question.question }}</a>
    </p>
    {% endfor %}
    <div class="mt-3">
        <a href="{% url 'course-update' course.id %}" class="btn btn-warning">Update course</a>
        <a href="{% url 'course-delete' course.id %}" class="btn btn-danger">Delete course</a>
    </div>
    <div class="mt-3">
        <a href="{% url 'question-create' %}" class="btn btn-primary">Create question</a>
    </div>
{% endblock %}