{% extends 'base.html' %}

{% block title %}Question{% endblock %}

{% block content %}
    <h2>{{ question.course.name }}</h2>
    <div>
        <h3>{{ question.question }}</h3>
        <h4>{{ question.answer }}</h4>
        <p>{{ question.option2 }}</p>
        <p>{{ question.option3 }}</p>
        <p>{{ question.option4 }}</p>
    </div>
    <div>
        <a href="{% url 'question-update' question.id %}" class="btn btn-warning">Update</a>
        <a href="{% url 'question-delete' question.id %}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}